<link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="footer">
    <div class="container container-phone">
        <div class="top-area  d-flex layout">
            <ul class="menu d-flex phone-delete">
                <li><a href="">首頁</a></li>
                <li><a href="">系列鏡框</a></li>
                <li><a href="">門市據點</a></li>
                <li><a href="">部落格</a></li>
                <li><a href="">常見問題</a></li>
            </ul>

            <div class="non-pc-delete">
                <div class="phone d-flex">
                    <span class="material-symbols-outlined size-48">call</span>
                    <h3>0800-000-000</h3>
                </div>
                <div class="mail d-flex">
                    <span class="material-symbols-outlined size-48">mail</span>
                    <h3>glasses@business.com</h3>
                </div>
            </div>

            <ul class="icons d-flex">
                <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="FB"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="IG"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="Line"></a></li>
            </ul>
        </div>

        <div class="mb-32 phone-delete">
            <div class="phone d-flex">
                <span class="material-symbols-outlined size">call</span>
                <h3>0800-000-000</h3>
            </div>
            <div class="mail d-flex">
                <span class="material-symbols-outlined size">mail</span>
                <h3>glasses@business.com</h3>
            </div>
        </div>
        <hr>
        <div class="copyright  d-flex copyright-layout">
            <p class="mb-8-phone">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="terms d-flex copyright-layout">
                <li class="mb-8-phone"><a href="#">隱私權政策</a></li>
                <li class="mb-8-phone"><a href="#">服務條款</a></li>
            </ul>
        </div>
    </div>


</div>