body {
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    line-height: 1.5;
    color: #fff
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

.font-black {
    color: #000;
}


.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 12px;
}


.mb-32 {
    margin-bottom: 32px;
}

.non-pc-delete {
    display: none;
  }

@media (max-width:992px) {
    .container {
        padding: 0 36px;
    }
    .others-delete {
        display: none;
    }
    .pad-delete {
        display: none;
    }

}
@media (max-width:767px) {
    .container {
        padding: 0;
    }
    .mr-auto {
        margin-right: auto;
      }
    .mb-8-phone {
        margin-bottom: 8px;
    }
    .container-phone {
        padding: 0 15px;
    }
    .phone-delete {
        display: none;
    }

    .non-pc-delete {
        display: block;
    }
}