/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", "Noto Sans", sans-serif;
  line-height: 1.5;
  color: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}

.font-black {
  color: #000;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 12px;
}

.mb-32 {
  margin-bottom: 32px;
}

.non-pc-delete {
  display: none;
}

@media (max-width: 992px) {
  .container {
    padding: 0 36px;
  }
  .others-delete {
    display: none;
  }
  .pad-delete {
    display: none;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0;
  }
  .mr-auto {
    margin-right: auto;
  }
  .mb-8-phone {
    margin-bottom: 8px;
  }
  .container-phone {
    padding: 0 15px;
  }
  .phone-delete {
    display: none;
  }
  .non-pc-delete {
    display: block;
  }
}
.header {
  background-color: #AA0601;
}
.header .layout {
  justify-content: space-between;
  align-items: center;
}
.header .img {
  width: 80px;
  height: 48.57px;
  background-image: url("../images/logo-white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-indent: 101%;
  overflow: hidden;
}
.header .menu {
  padding: 25px 0;
}
.header .menu li a {
  display: block;
  font-size: 20px;
  color: #fff;
  margin: 0 32px;
}
.header .menu li a:hover {
  color: #000;
}
.header .menu li:last-child a {
  margin-left: 32px;
  margin-right: 0;
}

@media (max-width: 767px) {
  .header .layout {
    justify-content: flex-start;
    flex-direction: column;
  }
  .header .img {
    margin: 16px auto 16px 0;
  }
  .header .menu {
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }
  .header .menu li {
    width: 50%;
    padding: 12px 0;
    border: 1px solid #fff;
  }
  .header .menu li a, .header .menu li:last-child a {
    margin: 0;
    text-align: center;
  }
}
.footer {
  background-color: #AA0601;
}
.footer .layout {
  justify-content: space-between;
  align-items: center;
}
.footer .icons li {
  margin-left: 32px;
}
@media (max-width: 767px) {
  .footer .icons li {
    margin-left: 8px;
  }
}
.footer .icons img {
  width: 48px;
  height: 48px;
}
@media (max-width: 767px) {
  .footer .icons img {
    width: 24px;
    height: 24px;
  }
}
.footer .top-area {
  padding-top: 48px;
  margin-bottom: 36px;
}
@media (max-width: 767px) {
  .footer .top-area {
    padding-top: 24px;
    margin-bottom: 24px;
  }
}
.footer .menu li {
  margin-right: 48px;
}
.footer .menu li a {
  color: #fff;
}
.footer .menu li a:hover {
  color: #000;
}
.footer .phone,
.footer .mail {
  align-items: center;
}
.footer .phone h3,
.footer .mail h3 {
  font-size: 36px;
}
@media (max-width: 767px) {
  .footer .phone h3,
  .footer .mail h3 {
    font-size: 16px;
  }
}
.footer .phone span,
.footer .mail span {
  margin-right: 16px;
}
@media (max-width: 767px) {
  .footer .phone span,
  .footer .mail span {
    margin-right: 10px;
  }
}
.footer .phone .size,
.footer .mail .size {
  font-size: 48px;
}
@media (max-width: 767px) {
  .footer .phone .size,
  .footer .mail .size {
    font-size: 24px;
  }
}
.footer .copyright {
  padding: 32px 0;
}
@media (max-width: 767px) {
  .footer .copyright {
    padding: 16px 0 24px 0;
  }
}
.footer .copyright-layout {
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .copyright-layout {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.terms li {
  text-align: center;
  margin-left: 48px;
}
@media (max-width: 767px) {
  .terms li {
    text-align: left;
    margin-left: 0;
  }
}
.terms li a {
  font-size: 14px;
  color: #fff;
}
@media (max-width: 767px) {
  .terms li a {
    font-size: 16px;
  }
}

.blog-header {
  background-color: #650300;
}
.blog-header .menu {
  padding: 13px 0;
}
.blog-header .menu li {
  margin-right: 48px;
}
.blog-header .menu li a {
  color: #fff;
}
.blog-header .menu li a:hover {
  color: gray;
}
.blog-header .font-size {
  font-size: 20px;
}
.blog-header .icon-size {
  font-size: 40px;
  color: #fff;
}
.blog-header .icon-size:hover {
  color: gray;
}
.blog-header .mb {
  margin-bottom: 96px;
}
@media (max-width: 992px) {
  .blog-header .mb {
    margin-bottom: 80px;
  }
}

.blog {
  color: #000;
}
.blog .title {
  font-size: 48px;
  border-left: 8px solid #9F1213;
  padding: 16px;
  font-weight: 700;
}
.blog .title-mb {
  margin-bottom: 32px;
}
@media (max-width: 992px) {
  .blog .title-mb {
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .blog .title-mb {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}
.blog img {
  width: 636px;
  height: 400px;
  margin-right: 24px;
}
@media (max-width: 992px) {
  .blog img {
    width: 326px;
    height: 208px;
  }
}
@media (max-width: 767px) {
  .blog img {
    width: 348px;
    height: 208px;
    margin-right: 0;
    margin-bottom: 8px;
  }
}
.blog h3 {
  font-size: 32px;
  color: #650300;
}
@media (max-width: 992px) {
  .blog h3 {
    font-size: 24px;
  }
}
.blog .align {
  justify-content: space-between;
  align-items: center;
}
.blog .eng-title {
  font-size: 20px;
}
@media (max-width: 992px) {
  .blog .eng-title {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .blog .eng-title {
    font-weight: 500;
  }
}
.blog .time {
  color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 767px) {
  .blog .time {
    font-weight: 500;
  }
}
.blog .ul-mb {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .blog .ul-mb {
    margin-bottom: 4px;
  }
}
.blog .content {
  font-size: 20px;
  color: #555555;
}
@media (max-width: 992px) {
  .blog .content {
    font-size: 16px;
  }
}
.blog .pad-add {
  display: none;
}
@media (max-width: 992px) {
  .blog .pad-add {
    display: inline;
  }
}
.blog-content {
  position: relative;
}
@media (max-width: 767px) {
  .blog-content {
    width: 348px;
  }
}
.blog a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 36px;
  font-weight: 900;
  color: #650300;
}
@media (max-width: 992px) {
  .blog a {
    position: static;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
  }
}
.blog a:hover {
  color: #be0701;
}
@media (max-width: 992px) {
  .blog a:hover {
    color: #000;
  }
}
.blog-mb {
  margin-bottom: 124px;
}
@media (max-width: 992px) {
  .blog-mb {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .blog-mb {
    margin-bottom: 0;
  }
}

.list-item-mb {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .list-item-mb {
    margin-bottom: 24px;
  }
}

.change-btn li {
  border: 1px solid #555555;
}
.change-btn li a {
  color: #555555;
  display: block;
  padding: 12px 16px;
}
@media (max-width: 767px) {
  .change-btn li a {
    padding: 12px 15px;
  }
}
.change-btn li a:hover {
  color: #fff;
  background-color: #000;
}
.change-btn li:first-child a {
  padding: 12px 12px;
}
@media (max-width: 767px) {
  .change-btn li:first-child a {
    padding: 12px 10px;
  }
}
.change-btn li:last-child a {
  padding: 12px 12px;
}
@media (max-width: 767px) {
  .change-btn li:last-child a {
    padding: 12px 10px;
  }
}
.change-btn-mb {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .change-btn-mb {
    margin-top: 80px;
  }
}

.center {
  justify-content: center;
}

@media (max-width: 767px) {
  .blog-list li {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=all.css.map */