.blog-header {
    background-color: $primary-color;

    .layout {
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        padding: 13px 0;

        li {
            margin-right: 48px;

            a {
                color: #fff;

                &:hover {
                    color: gray
                }
            }
        }
    }

    .font-size {
        font-size: 20px;
    }

    .icon-size {
        font-size: 40px;
        color: #fff;

        &:hover {
            color: gray
        }
    }

    .mb {
        margin-bottom: 96px;

        @media (max-width:992px) {
            margin-bottom: 80px;
        }
    }
}

.phone-delete {
    @media (max-width:767px) {
        display: none;
    }
}

.blog {
    color: #000;

    .title {
        font-size: 48px;
        border-left: 8px solid #9F1213;
        padding: 16px;
        font-weight: 700;

        &-mb {
            margin-bottom: 32px;

            @media (max-width:992px) {
                margin-bottom: 40px;
            }

            @media (max-width:992px) {
                margin-top: 40px;
                margin-bottom: 24px;
            }
        }
    }

    // img {
    //     width: 636px;
    //     height: 400px;
    //     margin-right: 24px;

    //     @media (max-width:992px) {
    //         width: 326px;
    //         height: 208px;
    //     }

    //     @media (max-width:767px) {
    //         width: 348px;
    //         height: 208px;
    //         margin-right: 0;
    //         margin-bottom: 8px;
    //     }
    // }
    .img {
        width: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 24px;

        @media(max-width:767px) {
            width: 348px;
            height: 208px;
            margin-right: 0;
            margin-bottom: 8px;
        }

    }

    h3 {
        font-size: 32px;
        color: $primary-color;

        @media (max-width:992px) {
            font-size: 24px;
        }
    }

    .align {
        justify-content: space-between;
        align-items: center;
    }

    .eng-title {
        font-size: 20px;

        @media (max-width:992px) {
            font-size: 16px;
        }

        @media (max-width:767px) {
            font-weight: 500;
        }
    }

    .time {

        color: rgba(0, 0, 0, 0.7);

        @media (max-width:767px) {
            font-weight: 500;
        }
    }

    .ul-mb {
        margin-bottom: 16px;

        @media (max-width:992px) {
            margin-bottom: 4px;
        }
    }

    .content {
        font-size: 20px;
        color: #555555;

        @media (max-width:992px) {
            font-size: 16px;
        }
    }

    .pad-add {
        display: none;

        @media (max-width:992px) {
            display: inline;
        }
    }

    &-content {
        width: 50%;

        @media (max-width:767px) {
            width: 348px;
            // 待確認
        }

        .content {
            width: 100%;
            margin-bottom: 102px;

            @media (max-width:992px) {
                margin-bottom: 0;
            }
        }

        .move-right {
            justify-content: flex-end;
        }

        @media (max-width:767px) {
            width: 348px;
        }
    }

    a {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        font-size: 36px;
        font-weight: 900;
        color: $primary-color;

        @media (max-width:992px) {
            // position: static;
            font-size: 16px;
            font-weight: 400;
            color: #555555;
        }

        &:hover {
            color: #be0701;

            @media (max-width:992px) {
                color: #000;
            }
        }

    }

    &-mb {
        margin-bottom: 124px;

        @media (max-width:992px) {
            margin-bottom: 80px;
        }

        @media (max-width:767px) {
            margin-bottom: 0;
        }
    }

}

.img1 {
    background-image: url('../images/blog-1.png');
}

.img2 {
    background-image: url('../images/blog-2.png');
}

.img3 {
    background-image: url('../images/blog-3.png');
}

.img4 {
    background-image: url('../images/blog-4.png');
}

.img5 {
    background-image: url('../images/blog-5.png');
}



.list-item-mb {
    margin-bottom: 60px;

    @media (max-width:992px) {
        margin-bottom: 24px;
    }
}


.change-btn {
    li {
        border: 1px solid #555555;

        a {
            color: #555555;
            display: block;
            padding: 12px 16px;

            @media (max-width:767px) {
                padding: 12px 15px;
            }

            &:hover {
                color: #fff;
                background-color: #000;
            }
        }

        &:first-child a,
        &:last-child a {
            padding: 12px 12px;

            @media (max-width:767px) {
                padding: 12px 10px;
            }
        }
    }

    &-mb {
        margin-bottom: 80px;

        @media (max-width:767px) {
            margin-top: 80px;
        }
    }
}

.center {
    justify-content: center;
}

@media (max-width:767px) {
    .blog-list li {
        flex-direction: column;
        align-items: center;
    }
}